{{!-- <link rel="stylesheet" href="/css/grafico.css"> --}}
 {{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script> --}}
 <script src="/js/teste.js" defer></script>
 <h1>gráfico</h1>